@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 4rem 0;
}

.container {
  display: flex;
  flex: 4;
  align-items: center;
  justify-content: center;
  background-color: #e2e2e2;
}
